@model ShellSettings 
@using OrchardCore.Environment.Shell
@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Home Page";
}
<h1 class="display-4">Login Page For</h1>
<p class="lead">@Html.DisplayFor(m => m.Name)</p>
<ul>
    
    <li>
        <a href="/v1/Default/Home/index">Default</a>
    </li>
    <li><a href="/v1/CustomerA/Home/index">customer-a</a></li>
    <li><a href="/v1/CustomerA/WeatherForecast/GetWeatherForecast">Module1 WeatherForecast Get Controller Action</a></li>
</ul>
<p>
    
    <a href="@(Url.Action("Login", "Authentication", new { area = "Shezzy.Authentication" }))">Shezzy.Authentication Login A</a>

<p><a href="/v1/@Html.DisplayFor(m => m.Name)/Home/LoginAuth0">Login Auth0</a></p>
@if (Context.User.Identity.IsAuthenticated)
{
    <ul>
        <li>
            <a>Hello @User.Identity.Name</a>
        </li>
        <li>
            <a href="@(Url.Action("Logout", "Authentication", new { area = "Shezzy.Authentication" }))">Shezzy.Authentication Logout</a>
        </li>
    </ul>
}