html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    height: 100vh;
    overflow: hidden;
    margin-bottom: 60px;
}

.main {
    height: calc(100vh - 120px);
    overflow: auto;
    width: 100%;
    max-width: 100%;
    padding-top: var(--bs-gutter-x,.75rem);
}
